body{
	font-family: calibri;
	line-height: 1.5;
	color: white;
	padding: 30px;
	background-image: url(image/fom.jpg); 
	font-size:30px;
}
h1{
	font-family: 'Bonheur Royale', cursive;
	text-align: center;
	box-shadow: 2px 2px 3px black;
	font-size:50px;
}

h2{
	text-align: center;
}

a{
	color:white;
	text-decoration: none;
	transition:font-size 0.7s ease;
}

a:hover{
	font-size: 40px;
	color:red;
	text-decoration: none;
}

li{
	font-size: 50px;
	display: inline;
	padding: 0 100px;
}

ul{
		text-align:center;
}

#insta{
	color:white;
	text-decoration: none;
	transition:font-size 0.7s ease;
}

#insta:hover{
	font-size: 80px;
	color:#f58549;
	text-decoration: none;
}

#twi{
	color:white;
	text-decoration: none;
	transition:font-size 0.7s ease;
}

#twi:hover{
	font-size: 80px;
	color:#9EFFF6;
	text-decoration: none;
}

#fb{
	color:white;
	text-decoration: none;
	transition:font-size 0.7s ease;
}

#fb:hover{
	font-size: 80px;
	color:#11C2B1;
	text-decoration: none;
}

#tim{
	width: 300px;
	border-radius: 50%;
	box-shadow: 0px 15px 15px rgba(250,250,250,0.3);
}

#bem{
	width: 400px;
}

.container{
	width: 780px;
	margin: 20px auto;
}

.card-white{
	background-color:none;
	padding: 20px 30px;
	border-radius:10px;
	box-shadow: 0px 15px 30px rgba(250,250,250,0.3);
	text-align: center;
	margin: 20px 0;
}

@media(max-width: 900px){
	.container{
		width:600px;
	}
}

@media(max-width: 600px){
	.container{
		width:400px;
	}
	#bem{
	width: 300px;
	}
}
